// Place all the styles related to the images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.map-container {
    height: 460px;
    width: 610px;
    position: relative;
    top: -170px;
    border-radius: 16px 16px;
    border-color: #fff;
    border-style: solid;
    box-shadow: 2px 2px 10px #B1B1B1;
    float: right;
    border-width: 7px;
    background-color: gray;
}
.map-actual {
	position: relative;
}
.image-thumbnails{
	padding-left: 10px;
}
.something-not-used{
	margin-top: 25px;
}