// Place all the styles related to the images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.map-container {
    height: 460px;
    width: 610px;
    position: relative; 
    border-radius: 16px 16px;
    border-color: #fff;
    border-style: solid;
    box-shadow: 2px 2px 10px #B1B1B1;
    border-width: 7px;
    background-color: gray;
    right: -600px;
    top: -600px;
    
}
/*

*/
.map-actual {
	position: relative;
    display: inline-block;
}
div.image{
    height: auto;
    width: auto;
    padding-left: 30px;
    padding-right: 10px;
}
.image-index{
    width: auto;
	padding-left: 65px;
    padding-top: 10px;
    display: inline-block;
}
.index_container{
    
}
.image-text{
    display: block;
}
.image-show-container{
    height: auto;
    width: auto;
    display: inline-block;
}
//padding: 0 250px;